.DeliveriPage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.deliveriSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
}

.deliveriSection__titile{
    text-align: center;
}