@use '../../../../Shared/GlobalStyle/style.scss' as style;

.deliveriItems {
    background-color: style.$blue1;
    padding: 16px;
    border-radius: 8px;
    color: style.$blue2-l;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.deliveriItem {
    background-color: #fff;
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid style.$blue2-l;
    border-radius: 8px;
    color: style.$blue1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.deliveriItem__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.deliveriItem__info__rigthBlock {
    color: style.$blue1;
    font-weight: bold;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.deliveriItem__buttons {
    display: flex;
    gap: 12px;
}

.button__accept {
    background-color: rgb(76, 175, 80); /* Green button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button__accept:hover {
    background-color: rgb(67, 160, 71);
}

.button__content {
    background-color: style.$blue2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button__content:hover {
    background-color: style.$blue3;
}

.popup__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3333336b;
}

.popup{
    position:fixed;
    width: 500px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
}

.popup__section{
    background-color: style.$blue1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 200px);
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: red;
}
.popup__section::-webkit-scrollbar {
    width: 10px; // Ширина полосы прокрутки
}

.popup__section::-webkit-scrollbar-track {
    background: style.$blue1; // Цвет фона полосы прокрутки
}

.popup__section::-webkit-scrollbar-thumb {
    background: #f1f1f1; // Цвет ползунка
    border-radius: 10px; // Закругление углов ползунка
}